@model CyS___DeportesConcepcioin_v2.Models.TablesViewModels.ProfesionalViewModel

<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!--Carpeta css-->
        <link rel="stylesheet" type="text/css" href="~/Styles/css/administrador/agregarNutricionista.css">

        <!--ICONOS SOLID-->
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/solid.css">
        <script src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>

        <!--FRAMEWORK BOOTSTRAP-->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">

        <title>Administrador - Agregar Profesional</title>

    </head>
    <body>
        <nav class="navbar fixed-top navbar-expand-md navbar-dark" style="background-color: #761AAD; position: relative;">
            <div class="container">
                <a href="#" class="navbar-brand mb-0 h1">
                    <img class="d-inline-block align-top" src="~/Styles/img/logodc2.png" width="40" height="40">
                </a>
                <button type="button"
                        data-bs-toggle="collapse"
                        data-bs-target="#navbarNav, #sesionNav"
                        class="navbar-toggler"
                        aria-controls="navbarNav"
                        aria-expanded="false"
                        aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item text-center">
                            <a href="@Url.Action("IndexAdmin", "Admin")" class="nav-link">
                                <i class="fas fa-user"></i>  Mi Perfil
                            </a>
                        </li>
                        <li class="nav-item text-center">
                            <a href="@Url.Action("ListarUsuariosView", "Admin")" class="nav-link">
                                <i class="fas fa-users"></i>  Listado de Usuarios
                            </a>
                        </li>
                        <li class="nav-item text-center">
                            <a href="@Url.Action("ListarItems", "Admin")" class="nav-link">
                                <i class="fas fa-table"></i>  Listado de Datos
                            </a>
                        </li>
                    </ul>
                    <ul class="navbar-nav">
                        <li class="nav-item text-center active sesion">
                            <a href="@Url.Action("CerrarSession" , "Login")" id="CerrarSession"><i class="fas fa-sign-out-alt"></i>  Cerrar Sesi&oacute;n</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <div class="header" style="margin-top: 100px;">
            <h2 style="color: blueviolet;">Agregar Profesional</h2>
            <br>
        </div>
        <div class="container" style="width: 80%; margin-top: 30px; border-color: black;" id="addProf">
            @using (Html.BeginForm("AgregarProfesional", "Admin", FormMethod.Post, new { role = "form", @class = "" }))
            {
                <div class="row g-3">
                    <div class="col-sm-4">
                        <h5 class="mb-3">Nombre:</h5>
                        @Html.TextBoxFor(p => p.NomProfesional, new { @class = "form-control", @onkeypress = "return /[a-z]/i.test(event.key)", @required = "required" })
                    </div>
                    <div class="col-sm-4">
                        <h5 class="mb-3">Apellido Paterno:</h5>
                        @Html.TextBoxFor(p => p.ApPaternoProfesional, new { @class = "form-control", @onkeypress = "return /[a-z]/i.test(event.key)", @required = "required" })
                    </div>
                    <div class="col-sm-4">
                        <h5 class="mb-3">Apellido Materno:</h5>
                        @Html.TextBoxFor(p => p.ApMaternoProfesional, new { @class = "form-control", @onkeypress = "return /[a-z]/i.test(event.key)", @required = "required" })
                    </div>
                </div>
                <div class="row g-3" style="margin-top: 3px;">
                    <div class="col-sm-4">
                        <h5 class="mb-3">Rut:</h5>
                        @Html.TextBoxFor(p => p.RutProfesional, new { @class = "form-control", @required = "required" })
                    </div>
                    <div class="col-sm-4">
                        <h5 class="mb-3">Correo Electronico:</h5>
                        @Html.TextBoxFor(p => p.EmailProfesional, new { @class = "form-control", @required = "required" })
                    </div>
                    <div class="col-sm-4">
                        <h5 class="mb-3">Telefóno:</h5>
                        @Html.TextBoxFor(p => p.TelefonoProfesional, new { @class = "form-control", @placeholder = "Ej: 968331258", @required = "required" })
                    </div>
                </div>
                <div class="row g-3" style="margin-top: 3px;">
                    <div class="col-sm-4">
                        <h5 class="mb-3">Contraseña:</h5>
                        @Html.PasswordFor(p => p.PassProfesional, new { @class = "form-control", @required = "required" })
                    </div>
                    <div class="col-sm-4">
                        <h5 class="mb-3">Confirmar Contraseña:</h5>
                        @Html.PasswordFor(p => p.ConfirmarPassProfesional, new { @class = "form-control", @required = "required" })
                    </div>
                    <div class="col-sm-4">
                        <h5 class="mb-3">Profesión:</h5>
                        @Html.DropDownListFor(p => p.TipoProfesional, new List<SelectListItem>
                        {
                            new SelectListItem{ Text = "Kinesiologo", Value = "1"},
                            new SelectListItem{ Text = "Nutricionista", Value = "2"},
                            new SelectListItem{ Text = "Cuerpo Tecnico", Value = "3"}
                        }, new { @class = "form-control", @required = "required" })
                    </div>
                </div>
                <div class="text-center">
                    <input type="submit" value="Registrar Profesional" class="btn btn-primary" style="margin-top: 25px; width: 180px; background-color: blueviolet;" />
                </div>
            }
            <br>
        </div>
        <br />
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
    </body>
</html>
