@model CyS___DeportesConcepcioin_v2.Models.TablesViewModels.Kinesiologo.DetallesFutbolistaViewModel

<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!--Carpeta css-->
        <link rel="stylesheet" type="text/css" href="~/Styles/css/kinesiologo/datosFutbolista.css">

        <!--ICONOS SOLID-->
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/solid.css">
        <script src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>

        <!--FRAMEWORK BOOTSTRAP-->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">

        <title>Listado de Futbolistas</title>
    </head>
    <body style="height: 900px;">
        <nav class="navbar fixed-top navbar-expand-md navbar-dark" style="background-color: #761AAD; position: relative;">
            <div class="container">
                <a href="#" class="navbar-brand mb-0 h1">
                    <img class="d-inline-block align-top" src="~/Styles/img/logodc2.png" width="40" height="40">
                </a>
                <button type="button"
                        data-bs-toggle="collapse"
                        data-bs-target="#navbarNav, #sesionNav"
                        class="navbar-toggler"
                        aria-controls="navbarNav"
                        aria-expanded="false"
                        aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item text-center disabled">
                            <a href="@Url.Action("IndexKine" , "Kine")" class="nav-link">
                                <i class="fas fa-user"></i>  Mi Perfil
                            </a>
                        </li>
                        <li class="nav-item text-center disabled">
                            <a href="@Url.Action("ListadoJugadores" , "Kine")" class="nav-link">
                                <i class="far fa-futbol"></i>  Futbolistas
                            </a>
                        </li>
                        <li class="nav-item text-center disabled">
                            <a href="@Url.Action("VerEstadisticas" , "Kine")" class="nav-link">
                                <i class="fas fa-chart-area"></i>  Estadisticas
                            </a>
                        </li>
                        <li class="nav-item text-center disabled">
                            @*<a href="#" class="nav-link">
                <i class="far fa-clipboard"></i>  Encuestas
            </a>*@
                        </li>
                    </ul>
                    <ul class="navbar-nav">
                        <li class="nav-item text-center active sesion">
                            <a href="@Url.Action("CerrarSession" , "Login")"><i class="fas fa-sign-out-alt"></i>  Cerrar Sesi&oacute;n</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

        <div class="header">
            <img class="foto_perfil" src="~/Styles/img/avatar-login.png">
        </div>

        <div class="container" style="width: 90%; margin-top: 30px;" id="datosJugador">
            <h3 style="color: blueviolet;">Datos del Jugador</h3>
            @using (Html.BeginForm("DatosFutbolistaSeleccionadoKine", "Kine", FormMethod.Post, new { role = "form", @class = "" }))
            {
                <div class="row g-1 mt-4">
                    <div class="col-sm-4">
                        <h5 class="mb-3">Nombre</h5>
                        @Html.TextBoxFor(f => f.FutbolistaViewModelKine.NomFutbolista, new { @class = "form-control", @readonly = "readonly" })
                    </div>
                    <div class="col-sm-4">
                        <h5 class="mb-3">Rut</h5>
                        @Html.TextBoxFor(f => f.FutbolistaViewModelKine.RutFutbolista, new { @class = "form-control", @readonly = "readonly", @id = "RutFutbolista" })
                    </div>
                    <div class="col-sm-4">
                        <h5 class="mb-3">Edad</h5>
                        @Html.TextBoxFor(f => f.FutbolistaViewModelKine.EdadFutbolista, new { @class = "form-control", @readonly = "readonly" })
                    </div>
                </div>
                <div class="row g-1 mt-2" style="margin-top: 3px;">
                    <div class="col-sm-4">
                        <h5 class="mb-3">Fecha de Nacimiento</h5>
                        @Html.TextBoxFor(f => f.FutbolistaViewModelKine.FechaNacimientoFutbolista, "{0:dd/MM/yyyy}", new { @class = "form-control", @readonly = "readonly" })
                    </div>
                    <div class="col-sm-4">
                        <h5 class="mb-3">Nacionalidad</h5>
                        @Html.TextBoxFor(f => f.FutbolistaViewModelKine.NacionalidadFutbolista, new { @class = "form-control", @readonly = "readonly" })
                    </div>
                    <div class="col-sm-4">
                        <h5 class="mb-3">Posición</h5>
                        @Html.TextBoxFor(f => f.FutbolistaViewModelKine.PosicionFutbolista, new { @class = "form-control", @readonly = "readonly" })
                    </div>
                </div>
                <div class="row g-1" style="margin-top: 3px;">
                    <div class="col-sm-4">
                        <h5 class="mb-3">Telefóno</h5>
                        @Html.TextBoxFor(f => f.FutbolistaViewModelKine.TelefonoFutbolista, new { @class = "form-control", @readonly = "readonly" })
                    </div>
                    <div class="col-sm-4">
                        <h5 class="mb-3">Correo</h5>
                        @Html.TextBoxFor(f => f.FutbolistaViewModelKine.EmailFutbolista, new { @class = "form-control", @readonly = "readonly" })
                    </div>
                </div>
                <br />
            }
        </div>

        <div class="container g-1 mt-4" style="width: 90%;" id="anFaJugador">
            <div class="input-group-append">
                <h4 style="color: blueviolet; margin-top: 10px;">&nbsp;Ant. Familiares</h4>
                <p style="margin-left: 10px; margin-top: 10px;">
                    <a style="color: blueviolet;" data-bs-toggle="collapse" href="#AntecedentesFamiliares" aria-expanded="false" aria-controls="AntecedentesFamiliares">
                        <i style="width: 25px; height: 25px; margin-top: 4px;" class="fas fa-plus-circle text-center"></i>
                    </a>
                </p>
            </div>
            <div class="collapse" id="AntecedentesFamiliares">
                <div class="row g-1" style="margin-left: 8px;">
                    <div class="col-sm-4">
                        <h5 class="mb-3">Cardiopatias</h5>
                        @Html.TextBoxFor(f => f.FutbolistaViewModelKine.Cardiopatias, new { @class = "form-control", @readonly = "readonly", @id = "Cardiopatias" })
                    </div>
                    <div class="col-sm-4">
                        <h5 class="mb-3">Diabetes</h5>
                        @Html.TextBoxFor(f => f.FutbolistaViewModelKine.Diabetes, new { @class = "form-control", @readonly = "readonly", @id = "Diabetes" })
                    </div>
                    <div class="col-sm-4">
                        <h5 class="mb-3">Hipertensión</h5>
                        @Html.TextBoxFor(f => f.FutbolistaViewModelKine.Hipertension, new { @class = "form-control", @readonly = "readonly", @id = "Hipertensión" })
                    </div>
                    <div class="col-sm-12">
                        <h5 class="mb-3">Otros</h5>
                        @Html.TextBoxFor(f => f.FutbolistaViewModelKine.Otros, new { @class = "form-control", @readonly = "readonly", @id = "Otros" })
                    </div>
                    <div class="text-center">
                        <button onclick="AntecedentesFamiliares();" class="btn btn-primary btn-lg btn-block" style="margin-top: 10px; width: 180px; background-color: blueviolet;">
                            Actualizar
                        </button>
                    </div>
                </div>
                <br />
            </div>
        </div>

        @*Obtiene el Rut del Futbolista Seleccionado y Dependiendo de las Condiciones
        Redirije a la vista de agregar o modificar*@
        <script type="text/javascript">
            function AntecedentesFamiliares() {
                var Rut = document.getElementById("RutFutbolista").value;
                var Cardiopatias = document.getElementById("Cardiopatias").value;
                var Diabetes = document.getElementById("Diabetes").value;
                var Hipertensión = document.getElementById("Hipertensión").value;
                var Otros = document.getElementById("Otros").value;

                if (Cardiopatias == "" && Diabetes == "" && Hipertensión == "" && Otros == "") {
                    location.href = "http://cysdeportesconcepcion.somee.com/Kine/AntecedentesFamiliaresFutbolista/?RutFutbolista=" + Rut;
                }
                else {
                    location.href = "http://cysdeportesconcepcion.somee.com/Kine/EditarAntecedentesFam/?RutFutbolista=" + Rut;
                }
            }
        </script>

        <div class="container g-1 mt-4" style="width: 90%;" id="anPeJugador">
            <div class="input-group">
                <h4 style="color: blueviolet; margin-top: 10px;">&nbsp;Ant. Personales</h4>
                <p style="margin-left: 10px; margin-top: 10px;">
                    <a style="color: blueviolet;" data-bs-toggle="collapse" href="#AntecedentesPersonales" aria-expanded="false" aria-controls="AntecedentesPersonales">
                        <i style="width: 25px; height: 25px; margin-top: 4px;" class="fas fa-plus-circle text-center"></i>
                    </a>
                </p>
            </div>
            <div class="collapse" id="AntecedentesPersonales">
                <div class="row g-1" style="margin-left: 8px;">
                    <div class="col-sm-3">
                        <h5 class="mb-3">Enfer. Infancia:</h5>
                        @Html.TextBoxFor(f => f.FutbolistaViewModelKine.EnferInfancia, new { @class = "form-control", @readonly = "readonly", @id = "EnferInfancia" })
                    </div>
                    <div class="col-sm-3">
                        <h5 class="mb-3">Alergias</h5>
                        @Html.TextBoxFor(f => f.FutbolistaViewModelKine.Alergias, new { @class = "form-control", @readonly = "readonly", @id = "Alergias" })
                    </div>
                    <div class="col-sm-3">
                        <h5 class="mb-3">Operaciones</h5>
                        @Html.TextBoxFor(f => f.FutbolistaViewModelKine.Operaciones, new { @class = "form-control", @readonly = "readonly", @id = "Operaciones" })
                    </div>
                    <div class="col-sm-3">
                        <h5 class="mb-3">Traumatismos</h5>
                        @Html.TextBoxFor(f => f.FutbolistaViewModelKine.Traumatismos, new { @class = "form-control", @readonly = "readonly", @id = "Traumatismos" })
                    </div>
                </div>
                <div class="row g-1" style="margin-left: 8px; margin-top: 10px;">
                    <div class="col-sm-12">
                        <div class="input-group">
                            <h4 class="mb-3 mt-4">Examen Fisico</h4>
                        </div>
                    </div>
                </div>
                <div class="row g-2" style="margin-left: 8px; margin-top: 10px;">
                    <div class="col-sm-3">
                        <h5 class="mb-3">Talla(cm)</h5>
                        @Html.TextBoxFor(f => f.FutbolistaViewModelKine.Talla, new { @class = "form-control", @readonly = "readonly", @id = "Talla" })
                    </div>
                    <div class="col-sm-3">
                        <h5 class="mb-3">Peso</h5>
                        @Html.TextBoxFor(f => f.FutbolistaViewModelKine.Peso, new { @class = "form-control", @readonly = "readonly", @id = "Peso" })
                    </div>
                    <div class="col-sm-3">
                        <h5 class="mb-3">FC</h5>
                        @Html.TextBoxFor(f => f.FutbolistaViewModelKine.FC, new { @class = "form-control", @readonly = "readonly", @id = "FC" })
                    </div>
                    <div class="col-sm-3">
                        <h5 class="mb-3">PA</h5>
                        @Html.TextBoxFor(f => f.FutbolistaViewModelKine.PA, new { @class = "form-control", @readonly = "readonly", @id = "PA" })
                    </div>
                </div>
                <div class="row g-1" style="margin-left: 8px;">
                    <div class="col-sm-12">
                        <div class="input-group">
                            <h4 class="mb-3 mt-4">Aparato Locomotor</h4>
                        </div>
                    </div>
                </div>
                <div class="row g-1" style="margin-left: 8px; margin-top: 10px;">
                    <div class="col-sm-4">
                        <h5 class="mb-3">Alt. Posturales</h5>
                        @Html.TextBoxFor(f => f.FutbolistaViewModelKine.AlterracionPost, new { @class = "form-control", @readonly = "readonly", @id = "AlterracionPost" })
                    </div>
                    <div class="col-sm-4">
                        <h5 class="mb-3">Genu Valgo/Varu</h5>
                        @Html.TextBoxFor(f => f.FutbolistaViewModelKine.GenuValgo, new { @class = "form-control", @readonly = "readonly", @id = "GenuValgo" })
                    </div>
                    <div class="col-sm-4">
                        <h5 class="mb-3">Pie Plano/Valgo</h5>
                        @Html.TextBoxFor(f => f.FutbolistaViewModelKine.PiePlano, new { @class = "form-control", @readonly = "readonly", @id = "PiePlano" })
                    </div>
                </div>
                <div class="row g-2" style="margin-left: 8px; margin-top: 10px;">
                    <div class="col-sm-12">
                        <h5 class="mb-3">Otros</h5>
                        @Html.TextAreaFor(f => f.FutbolistaViewModelKine.Otro, new { @class = "form-control", @readonly = "readonly", @id = "OtroPer" })
                    </div>
                </div>
                <div class="text-center">
                    <button onclick="AntecedentesPersonales();" class="btn btn-primary btn-lg btn-block" style="margin-top: 10px; width: 180px; background-color: blueviolet;">
                        Actualizar
                    </button>
                </div>
                <br />
            </div>
        </div>

        @*Obtiene el Rut del Futbolista Seleccionado y Dependiendo de las Condiciones
        Redirije a la vista de agregar o modificar*@
        <script type="text/javascript">
            function AntecedentesPersonales() {
                var Rut = document.getElementById("RutFutbolista").value;
                var EnferInfancia = document.getElementById("EnferInfancia").value;
                var Alergias = document.getElementById("Alergias").value;
                var Operaciones = document.getElementById("Operaciones").value;
                var Traumatismos = document.getElementById("Traumatismos").value;
                var Talla = document.getElementById("Talla").value;
                var Peso = document.getElementById("Peso").value;
                var FC = document.getElementById("FC").value;
                var PA = document.getElementById("PA").value;
                var AlterracionPost = document.getElementById("AlterracionPost").value;
                var GenuValgo = document.getElementById("GenuValgo").value;
                var PiePlano = document.getElementById("PiePlano").value;
                var OtroPer = document.getElementById("OtroPer").value;

                if (EnferInfancia == "" && Alergias == "" && Operaciones == "" && Traumatismos == "" &&
                    Talla == "0" && Peso == "0" && FC == "0" && PA == "0" && AlterracionPost == "" && GenuValgo == "" && PiePlano == "" &&
                    OtroPer == "") {
                    location.href = "http://cysdeportesconcepcion.somee.com/Kine/AntecedentesPersonalesFutbolista/?RutFutbolista=" + Rut;
                }
                else {
                    location.href = "http://cysdeportesconcepcion.somee.com/Kine/EditarAntecedentesPers/?RutFutbolista=" + Rut;
                }
            }
        </script>

        <div class="container g-1 mt-4" style="width: 90%;" id="hiClJugador">
            <div class="input-group">
                <h4 style="color: blueviolet; margin-top: 10px;">&nbsp;Historial Clinico</h4>
                <p style="margin-left: 10px; margin-top: 10px;">
                    <a style="color: blueviolet;" data-bs-toggle="collapse" href="#HistorialClinico" aria-expanded="false" aria-controls="HistorialClinico">
                        <i style="width: 25px; height: 25px; margin-top: 4px;" class="fas fa-plus-circle text-center"></i>
                    </a>
                </p>
            </div>
            <div class="collapse" id="HistorialClinico">
                <div class="table-responsive" style="overflow: auto; height: 300px; border: 4px solid black;">
                    <table class="table table-bordered" style="width: 100%; overflow-x: auto;">
                        <thead style="border: 3px solid black">
                            <tr style="text-align: center">
                                <th style="border: 2px solid black; background-color: blueviolet; color: white;">Fecha Lesión</th>
                                <th style="border: 2px solid black; background-color: blueviolet; color: white;">Lugar</th>
                                <th style="border: 2px solid black; background-color: blueviolet; color: white;">Tipo de Lesión</th>
                                <th style="border: 2px solid black; background-color: blueviolet; color: white;">Relación con Lesión Anterior</th>
                                <th style="border: 2px solid black; background-color: blueviolet; color: white;">Examenes</th>
                                <th style="border: 2px solid black; background-color: blueviolet; color: white;">Baja Deportiva</th>
                                <th style="border: 2px solid black; background-color: blueviolet; color: white;">Dias de Baja</th>
                                <th style="border: 2px solid black; background-color: blueviolet; color: white;">Tratamiento</th>
                                <th style="border: 2px solid black; background-color: blueviolet; color: white;">Opciones</th>
                            </tr>
                        </thead>
                        <tbody style="border: 3px solid black">
                            @if (Model.historialClinicoFutbolistas != null)
                            {
                                foreach (var HistClinico in Model.historialClinicoFutbolistas)
                                {
                                    <tr style="text-align: center">
                                        <td style="border: 2px solid black">@HistClinico.fecha_lesion.ToString("dd/MM/yyyy")</td>
                                        <td style="border: 2px solid black">@HistClinico.lugar_lesion</td>
                                        <td style="border: 2px solid black">@HistClinico.nomb_lesion</td>
                                        <td style="border: 2px solid black">@HistClinico.relacion_lesion_anterior</td>
                                        <td style="border: 2px solid black">@HistClinico.examenes</td>
                                        <td style="border: 2px solid black">@HistClinico.fecha_baja.ToString("dd/MM/yyyy")</td>
                                        <td style="border: 2px solid black">@HistClinico.dias_baja</td>
                                        <td style="border: 2px solid black">@HistClinico.tratamiento</td>
                                        <td style="border: 2px solid black"><a href="@Url.Content("~/Kine/EditarHistorialClinico/?RutFutbolista="+HistClinico.RutFutbolista)">Modificar</a></td>
                                    </tr>
                                }
                            }
                            else
                            {
                                <tr style="text-align: center">
                                    <td style="border: 2px solid black"></td>
                                    <td style="border: 2px solid black"></td>
                                    <td style="border: 2px solid black"></td>
                                    <td style="border: 2px solid black"></td>
                                    <td style="border: 2px solid black"></td>
                                    <td style="border: 2px solid black"></td>
                                    <td style="border: 2px solid black"></td>
                                    <td style="border: 2px solid black"></td>
                                    <td style="border: 2px solid black"></td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
                <div class="text-center">
                    <button onclick="AgregarHistorialClinico();" class="btn btn-primary btn-lg btn-block" style="margin-top: 10px; width: 180px; background-color: blueviolet;">
                        Actualizar
                    </button>
                </div>
                <br />
            </div>
        </div>

        <script type="text/javascript">
            function AgregarHistorialClinico() {
                var Rut = document.getElementById("RutFutbolista").value;
                location.href = "http://cysdeportesconcepcion.somee.com/Kine/AgregarHistorialClinicoFutbolista/?RutFutbolista=" + Rut;
            }
        </script>

        <div class="container g-1 mt-4" style="width: 90%;" id="insumosJugador1">
            <div class="input-group">
                <h4 style="color: blueviolet; margin-top: 10px;">&nbsp;Insumos</h4>
                <p style="margin-left: 10px; margin-top: 10px;">
                    <a style="color: blueviolet;" data-bs-toggle="collapse" href="#InsumoJugador2" aria-expanded="false" aria-controls="InsumoJugador2">
                        <i style="width: 25px; height: 25px; margin-top: 4px;" class="fas fa-plus-circle text-center"></i>
                    </a>
                </p>
            </div>
            <div class="collapse" id="InsumoJugador2">
                <div class="table-responsive" style="overflow: auto; height: 250px; border: 4px solid black;">
                    <table class="table table-bordered" style="width: 100%; overflow-x: auto;">
                        <thead style="border: 3px solid black">
                            <tr style="text-align: center">
                                <th style="border: 2px solid black; background-color: blueviolet; color: white;">Nombre</thstyle="border:>
                                <th style="border: 2px solid black; background-color: blueviolet; color: white;">Tipo</th>
                                <th style="border: 2px solid black; background-color: blueviolet; color: white;">Cantidad</th>
                                <th style="border: 2px solid black; background-color: blueviolet; color: white;">Fecha</th>
                                <th style="border: 2px solid black; background-color: blueviolet; color: white;">Comentario</th>
                                <th style="border: 2px solid black; background-color: blueviolet; color: white;">Opciones</th>
                            </tr>
                        </thead>
                        <tbody style="border: 3px solid black">
                            <tr style="text-align: center">
                                @if (Model.insumoFutbolistas != null)
                                {
                                    foreach (var Insumo in Model.insumoFutbolistas)
                                    {
                                        <td style="border: 2px solid black">@Insumo.descripcion_insumo</td>
                                        <td style="border: 2px solid black">@Insumo.tipo_insumo</td>
                                        <td style="border: 2px solid black">@Insumo.cantidad_insumo</td>
                                        <td style="border: 2px solid black">@Insumo.fecha_insumo.ToString("dd/MM/yyyy")</td>
                                        <td style="border: 2px solid black">@Insumo.comentarioinsumo</td>
                                        <td style="border: 2px solid black"><a href="@Url.Content("~/Kine/EditarInsumo/?RutFutbolista="+Insumo.RutFutbolista)">Modificar</a></td>
                                    }
                                }
                                else
                                {
                                    <td style="border: 2px solid black"></td>
                                    <td style="border: 2px solid black"></td>
                                    <td style="border: 2px solid black"></td>
                                    <td style="border: 2px solid black"></td>
                                    <td style="border: 2px solid black"></td>
                                    <td style="border: 2px solid black"></td>
                                }
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="text-center">
                    <button onclick="AgregarInsumo();" class="btn btn-primary btn-lg btn-block" style="margin-top: 10px; width: 180px; background-color: blueviolet;">
                        Actualizar
                    </button>
                </div>
                <br />
            </div>
        </div>

        <script type="text/javascript">
            function AgregarInsumo() {
                var Rut = document.getElementById("RutFutbolista").value;
                location.href = "http://cysdeportesconcepcion.somee.com/Kine/AgregarInsumo/?RutFutbolista=" + Rut;
            }
        </script>


        <div class="container g-1 mt-4" style="width: 90%;" id="Nutricion1">
            <div class="input-group">
                <h4 style="color: blueviolet; margin-top: 10px;">&nbsp;Nutrición</h4>
                <p style="margin-left: 10px; margin-top: 10px;">
                    <a style="color: blueviolet;" data-bs-toggle="collapse" href="#Nutricion2" aria-expanded="false" aria-controls="Nutricion2">
                        <i style="width: 25px; height: 25px; margin-top: 4px;" class="fas fa-plus-circle text-center"></i>
                    </a>
                </p>
            </div>
            <div class="collapse" id="Nutricion2">
                <div class="input-group">
                    <h4 style="color: blueviolet; margin-top: 10px;">&nbsp;Ev. Nutricional</h4>
                </div>
                <div class="table-responsive" style="overflow: auto; border: 4px solid black;">
                    <table class="table table-bordered" style="width: 100%;">
                        <thead style="border: 3px solid black">
                            <tr style="text-align: center">
                                <th rowspan="2" style="border: 2px solid black; background-color: blueviolet; color: white;">Peso</th>
                                <th rowspan="2" style="border: 2px solid black; background-color: blueviolet; color: white;">Talla</th>
                                <th colspan="2" style="border: 2px solid black; height: 2px; line-height: 2px; background-color: blueviolet; color: white;">M. Adiposa</th>
                                <th colspan="2" style="border: 2px solid black; height: 2px; line-height: 2px; background-color: blueviolet; color: white;">M. Muscular</th>
                                <th rowspan="2" style="border: 2px solid black; background-color: blueviolet; color: white;">6 Pliegues</th>
                                <th rowspan="2" style="border: 2px solid black; background-color: blueviolet; color: white;">I.M.O.</th>
                            </tr>
                            <tr style="text-align: center">
                                <th style="border: 2px solid black; background-color: blueviolet; color: white;">%</th>
                                <th style="border: 2px solid black; background-color: blueviolet; color: white;">Kg.</th>
                                <th style="border: 2px solid black; background-color: blueviolet; color: white;">%</th>
                                <th style="border: 2px solid black; background-color: blueviolet; color: white;">Kg.</th>
                            </tr>
                        </thead>
                        <tbody style="border: 3px solid black">
                            <tr style="text-align: center">
                                @if (Model.evaluacionNutricionalViewModels != null)
                                {
                                    foreach (var EvNutri in Model.evaluacionNutricionalViewModels)
                                    {
                                        <td id="Peso">@EvNutri.peso</td>
                                        <td>@EvNutri.talla_estatura</td>
                                        if (EvNutri.estado_uno == 1)
                                        {
                                            <td style="border: 2px solid black; background-color: limegreen; color: white;">@EvNutri.porcent_masa_adiposa %</td>
                                        }
                                        else if (EvNutri.estado_uno == 2)
                                        {
                                            <td style="border: 2px solid black; background-color: yellow; color: black;">@EvNutri.porcent_masa_adiposa %</td>
                                        }
                                        else if (EvNutri.estado_uno == 3)
                                        {
                                            <td style="border: 2px solid black; background-color: red; color: white;">@EvNutri.porcent_masa_adiposa %</td>
                                        }

                                        if (EvNutri.estado_uno_dos == 1)
                                        {
                                            <td style="border: 2px solid black; background-color: limegreen; color: white; ">@EvNutri.kilo_masa_adiposa Kg</td>
                                        }
                                        else if (EvNutri.estado_uno_dos == 2)
                                        {
                                            <td style="border: 2px solid black; background-color: yellow; color: black;">@EvNutri.kilo_masa_adiposa Kg</td>
                                        }
                                        else if (EvNutri.estado_uno_dos == 3)
                                        {
                                            <td style="border: 2px solid black; background-color: red; color: white;">@EvNutri.kilo_masa_adiposa Kg</td>
                                        }

                                        if (EvNutri.estado_dos == 1)
                                        {
                                            <td style="border: 2px solid black; background-color: limegreen; color: white; ">@EvNutri.porcent_musculo %</td>
                                        }
                                        else if (EvNutri.estado_dos == 2)
                                        {
                                            <td style="border: 2px solid black; background-color: yellow; color: black;">@EvNutri.porcent_musculo %</td>
                                        }
                                        else if (EvNutri.estado_dos == 3)
                                        {
                                            <td style="border: 2px solid black; background-color: red; color: white;">@EvNutri.porcent_musculo %</td>
                                        }

                                        if (EvNutri.estado_dos_dos == 1)
                                        {
                                            <td style="border: 2px solid black; background-color: limegreen; color: white; ">@EvNutri.kilo_musculo Kg</td>
                                        }
                                        else if (EvNutri.estado_dos_dos == 2)
                                        {
                                            <td style="border: 2px solid black; background-color: yellow; color: black;">@EvNutri.kilo_musculo Kg</td>
                                        }
                                        else if (EvNutri.estado_dos_dos == 3)
                                        {
                                            <td style="border: 2px solid black; background-color: red; color: white;">@EvNutri.kilo_musculo Kg </td>
                                        }

                                        if (EvNutri.estado_tres == 1)
                                        {
                                            <td style="border: 2px solid black; background-color: limegreen; color: white; ">@EvNutri.sumatoria_pliegue mm</td>
                                        }
                                        else if (EvNutri.estado_tres == 2)
                                        {
                                            <td style="border: 2px solid black; background-color: yellow; color: black;">@EvNutri.sumatoria_pliegue mm</td>
                                        }
                                        else if (EvNutri.estado_tres == 3)
                                        {
                                            <td style="border: 2px solid black; background-color: red; color: white;">@EvNutri.sumatoria_pliegue mm</td>
                                        }

                                        if (EvNutri.estado_cuatro == 1)
                                        {
                                            <td style="border: 2px solid black; background-color: limegreen; color: white; ">@EvNutri.imo</td>
                                        }
                                        else if (EvNutri.estado_cuatro == 2)
                                        {
                                            <td style="border: 2px solid black; background-color: yellow; color: black;">@EvNutri.imo</td>
                                        }
                                        else if (EvNutri.estado_cuatro == 3)
                                        {
                                            <td style="border: 2px solid black; background-color: red; color: white;">@EvNutri.imo</td>
                                        }
                                    }
                                }
                                else
                                {
                                    <td style="border: 2px solid black"></td>
                                    <td style="border: 2px solid black"></td>
                                    <td style="border: 2px solid black"></td>
                                    <td style="border: 2px solid black"></td>
                                    <td style="border: 2px solid black"></td>
                                    <td style="border: 2px solid black"></td>
                                    <td style="border: 2px solid black"></td>
                                    <td style="border: 2px solid black"></td>
                                }
                            </tr>
                        </tbody>
                    </table>
                </div>
                <br />

                <div class="input-group">
                    <h4 style="color: blueviolet; margin-top: 10px;">&nbsp;Suplementos</h4>
                </div>
                <div class="table-responsive" style="overflow: auto; height: 300px; border: 4px solid black;">
                    <table class="table table-bordered" style="width: 100%; overflow-x: auto;">
                        <thead style="border: 3px solid black">
                            <tr style="text-align: center">
                                <th style="border: 2px solid black; background-color: blueviolet; color: white;">Nombre</th>
                                <th style="border: 2px solid black; background-color: blueviolet; color: white;">Tipo</th>
                                <th style="border: 2px solid black; background-color: blueviolet; color: white;">Cantidad</th>
                                <th style="border: 2px solid black; background-color: blueviolet; color: white;">Fecha</th>
                                <th style="border: 2px solid black; background-color: blueviolet; color: white;">Comentario</th>
                                <th style="border: 2px solid black; background-color: blueviolet; color: white;">Opciones</th>
                            </tr>
                        </thead>
                        <tbody style="border: 3px solid black">
                            <tr style="text-align: center">
                                @if (Model.suplementoViewModels != null)
                                {
                                    foreach (var Suplemento in Model.suplementoViewModels)
                                    {
                                        <td style="border: 2px solid black">@Suplemento.desc_suplemento</td>
                                        <td style="border: 2px solid black">@Suplemento.tipo_suplemento</td>
                                        <td style="border: 2px solid black">@Suplemento.cant_suplemento</td>
                                        <td style="border: 2px solid black">@Suplemento.fecha_suplem.ToString("dd/MM/yyyy")</td>
                                        <td style="border: 2px solid black">@Suplemento.comentariosuplem</td>
                                        <td style="border: 2px solid black"><a href="@Url.Content("~/Nutri/EditarSuplemento/?RutFutbolista="+Suplemento.RutFutbolista)">Modificar</a> | <a href="@Url.Content("~/Nutri/EliminarSuplemento/?RutFutbolista="+Suplemento.RutFutbolista)">Eliminar</a></td>
                                    }
                                }
                                else
                                {
                                    <td style="border: 2px solid black"></td>
                                    <td style="border: 2px solid black"></td>
                                    <td style="border: 2px solid black"></td>
                                    <td style="border: 2px solid black"></td>
                                    <td style="border: 2px solid black"></td>
                                    <td style="border: 2px solid black"></td>
                                }
                            </tr>
                        </tbody>
                    </table>
                </div>
                <br />
            </div>
        </div>
        <br>


        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
    </body>
</html>
