@model CyS___DeportesConcepcioin_v2.Models.TablesViewModels.Nutricionista.NutriViewModel

<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!--Carpeta css-->
        <link rel="stylesheet" type="text/css" href="~/Styles/css/nutricionista/indexNutricionista.css">

        <!--ICONOS SOLID-->
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/solid.css">
        <script src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>

        <!--FRAMEWORK BOOTSTRAP-->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">

        <title>Inicio</title>
    </head>
    <body>
        <nav class="navbar fixed-top navbar-expand-md navbar-dark" style="background-color: #761AAD; position: relative;">
            <div class="container">
                <a href="#" class="navbar-brand mb-0 h1">
                    <img class="d-inline-block align-top" src="~/Styles/img/logodc2.png" width="40" height="40">
                </a>
                <button type="button"
                        data-bs-toggle="collapse"
                        data-bs-target="#navbarNav, #sesionNav"
                        class="navbar-toggler"
                        aria-controls="navbarNav"
                        aria-expanded="false"
                        aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item text-center active">
                            <a href="#" class="nav-link">
                                <i class="@Url.Action("IndexNutri" , "Nutri")"></i>  Mi Perfil
                            </a>
                        </li>
                        <li class="nav-item text-center disabled">
                            <a href="@Url.Action("ListadoJugadores" , "Nutri")" class="nav-link">
                                <i class="far fa-futbol"></i>  Futbolistas
                            </a>
                        </li>
                        <li class="nav-item text-center active">
                            @*<a href="#" class="nav-link">
                                <i class="far fa-clipboard"></i>  Encuestas
                            </a>*@
                        </li>
                    </ul>
                    <ul class="navbar-nav">
                        <li class="nav-item text-center active sesion">
                            <a href="@Url.Action("CerrarSession" , "Login")"><i class="fas fa-sign-out-alt"></i>  Cerrar Sesi&oacute;n</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <div class="header">
            <br />
            <h5 id="FechaActual"></h5>
            <img class="foto_perfil" src="~/Styles/img/avatar-login.png">
            <h4 id=NombreProfesional></h4>
        </div>
        <div id="DataNutri" class="container" style="width: 80%; margin-top: 30px;">
            @using (Html.BeginForm("IndexNutri", "Nutri", FormMethod.Post, new { role = "form", @class = "" }))
            {
                <div class="row g-3">
                    <div class="col-sm-6">
                        <h5 class="mb-3"><i class="fas fa-mobile-alt"></i> Telef&oacute;no:</h5>
                        @Html.TextBoxFor(n => n.TelefonoNutricionista, new { @class = "form-control", @readonly = "readonly", @id = "TelefNutri", @required = "required" })
                    </div>
                    <div class="col-sm-6">
                        <h5 class="mb-3"><i class="fas fa-at"></i> Correo:</h5>
                        @Html.TextBoxFor(n => n.EmailNutricionista, new { @class = "form-control", @readonly = "readonly", @id = "EmailNutri", @required = "required" })
                    </div>
                </div>
                <div class="row g-3" style="margin-top: 3px;">
                    <div class="col-sm-6">
                        <h5 class="mb-3"><i class="fas fa-lock"></i> Contrase&ntilde;a:</h5>
                        @Html.PasswordFor(n => n.PassNutricionista, new { @class = "form-control", @readonly = "readonly", @id = "PassNutri", @placeholder = "***********", @required = "required" })
                    </div>
                    <div class="col-sm-6">
                        <h5 class="mb-3"><i class="fas fa-lock"></i> Confirmar Contrase&ntilde;a:</h5>
                        @Html.PasswordFor(n => n.ConfirmarPassNutricionista, new { @class = "form-control", @readonly = "readonly", @id = "ConfirmarPassNutri", @placeholder = "***********", @required = "required" })
                    </div>
                </div>
                <div class="text-center">
                    <span class="input-group-btn">
                        <button style="background-color: blueviolet; margin-top: 15px; width: 50px; height: 47px" id="editData" class="btn btn-primary" type="button">
                            <i class="fas fa-edit"></i>
                        </button>
                    </span>
                    <button id="ActualizarNutri" class="btn btn-primary btn-lg btn-block" style="margin-top: 15px; width: 180px; background-color: blueviolet;" disabled>
                        Actualizar
                    </button>
                </div>
            }
            <br />
        </div>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>

        <script src="bootstrap.bundle.min.js"></script>
        <script src='jquery-3.2.1.min.js'></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src='http://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.2.1.js'></script>

        <script>
                $(document).ready(function () {

                    url = "@Url.Content("~/Nutri/ObtenerFechaActual")"
                    parametros = $(this).serialize();

                    $.get(url, parametros, function (data) {
                        $('#FechaActual').text(data);
                    })
                });
        </script>

        <script>
                $(document).ready(function () {

                    url = "@Url.Content("~/Nutri/ObtenerNombreProfesional")"
                    parametros = $(this).serialize();

                    $.get(url, parametros, function (data) {
                        $('#NombreProfesional').text(data);
                    })
                });
        </script>

        <script type="text/javascript">
            $(document).ready(function () {
                $("#editData").click(function () {
                    $('#TelefNutri').removeAttr("readonly"),
                    $('#EmailNutri').removeAttr("readonly"),
                    $('#PassNutri').removeAttr("readonly"),
                    $('#ConfirmarPassNutri').removeAttr("readonly"),
                    $('#ActualizarNutri').removeAttr("disabled")
                });
            });
        </script>

    </body>
</html>
